
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  flex-direction: column; 
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #767eea;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #314ded;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

div {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
}
